
        *{
            box-sizing: border-box;
        }
        body{
            margin: 0;
            background-color: #263238;
           /* #263238;*/
            /* #232323;*/
            color: #fff;
            
          
        }

        .center{
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .info{
            width: 90%;
            font-size: 30px;
            display: block;
            text-align: center;
            font-family: Calibri, sans-serif;
        }
        .author-info{
            width: 10%;
            font-size: 1rem;
            display: block;
            text-align: right;
            font-family: Calibri, sans-serif;
        }



        .char{
            font-family: Georgia, Calibri, sans-serif;
            color: white;
            font-size: 2rem;
            height: 50px;
            animation: an 1s ease-out 1 both;
            display: inline-block;
        }

        @keyframes an{
            from{
                opacity: 0;
                transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
            }
            to{
                opacity: 1;
                transform: perspective(500px) translate3d(0, 0, 0);
            }
        }
.mylink{
  position: absolute;
  z-index: 150;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: right;
  padding: .6rem;
}

.mylink a{
  font-family: Calibri;
  color: #fff;
  border-bottom: 1px solid #fff;
  opacity: .5;
  transition: opacity .3s;
  text-decoration: none
}
.mylink a:hover{
  opacity: 1
}
/*
html { 
    
    background: url(img/conan.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
*/

#change-background {
    background: url(img/churchill.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#author-style {
    font-size: 20px;
}