.inline{
  border: 1em solid #fff !important;
    border-bottom: 4em solid #fff !important;
    border-radius: .25em !important;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
}


.inline-photo {
    border: 1em solid #fff;
    border-bottom: 4em solid #fff;
    border-radius: .25em;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
  }
  .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
  }
  .BeforeScroll
  {
    height: 100px; /*Whatever you want*/
    width: 100%; /*Whatever you want*/
  
    display: none;
  }
  
  
  /*Use this class when you want your content to be shown after some scroll*/
  .AfterScroll
  {
    height: 100px; /*Whatever you want*/
    width: 100%; /*Whatever you want*/
  
    display: block;
  }
  #menuCheck {
    display:none;
  }
  .inphoto-descrip{
    font-family: 'Lucida Console', 'Courier New', Courier, monospace !important;
  }
  .open-description{
    color: white !important;
  }

  .boldness-title{
    font-weight: 900;
    font-size: 2rem !important;
  }