ul{
    border-bottom:1px solid #2080ff;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   
      margin: auto;
  }
  
body{
  margin: 0 auto;
}
script{
margin: 0 auto;
  
}

#CarouselImages{
  width:460px;
  height:345px;
  margin: auto;
  background-size:cover;
  
}
div{
  background: url("img/website-background.jpg");
}
